var name = 'ludi_test';

db.connect ({
	host:		'127.0.0.1'
	, user:		'root'
	, password:	'z'
	, db:		'test'
});

db['do']("DROP DATABASE IF EXISTS " + name);
db['do']("CREATE DATABASE " + name);

db.connect ({
	host:		'127.0.0.1'
	, user:		'root'
	, password:	'z'
	, db:		name
});